// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
nav {
    bottom: 0;
    font-size: 0.8rem;
    position: fixed;

    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }
    li {
        float: left;
        padding: 0 0.25rem;
        text-align: center;
    }
}

#logo {
    background: url("images/logo.png") center center no-repeat;
    background-size: contain;
    display: block;
    height: 40px;
    margin: 0 auto;
    text-indent: -9999px;
    width: auto;
}
