// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.list {
    list-style: none;
}
.loss {
    color: red;
    font-weight: bold;
}
.profit {
    color: green;
}
