// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.loss {
    color: red;
    font-weight: bold;
}
.profit {
    color: green;
}
