// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Main font
$font: "Lato", "Open Sans", "Calibri", sans-serif !default;

$color1: #164566 !default; // Texts
$color2: #3196e2 !default; // Links
$color3: #ff826c !default;
$color4: #53d2dc !default;
$color4b: #ffce1c !default;
$color5: #fafafa !default;
$color6: #e7fafe !default; // Borders

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    "small": 320px,
    "medium": 768px,
    "large": 1024px,
) !default;
